%article.tile-work
  .tile-front
    %header.tile-header
      %h2.tile-heading= title
      %p.tile-tagline Creative Concept, UI Design
      %div.btn-cta View Work

  %section.tile-content
    %a.close(href="#close") &times;
    %header.content-header
      %h1.content-heading= title
      %p This is work

