%article.tile-case
  .tile-front(data-img="fpo/tile-qdoba.jpg")
    %header.tile-header
      %h2.tile-heading= title
      %p.tile-tagline User Experience, UI Design
    %div.tile-crop

  %section.tile-content
    %a.close(href="#close") &times;
    %header.content-header
      %h1.content-heading= title
      %p This is a case study


