%footer.footer
  %p.footer-copy &copy;#{Time.zone.now.year} Guiceworks Inc. All rights reserved. <a href="mailto:geoff@guiceworks.com">Send Email</a>
  %nav.social-links
    %a.guicicon.guicicon-dribble(href="http://dribbble.com/guiceworks" target="_blank")
    %a.guicicon.guicicon-behance(href="http://www.behance.net/guiceworks" target="_blank")
    %a.guicicon.guicicon-twitter(href="https://twitter.com/guiceworks" target="_blank")
    %a.guicicon.guicicon-linkedin(href="http://www.linkedin.com/profile/view?id=1359794" target="_blank")

