%header.masthead
  %div.guicicon.guicicon-logo.masthead-logo
  %h1#masthead_heading.masthead-heading(data-mercury="full")><
    = render_region :masthead_heading do
      Heading.

  %article.masthead-content(data-bindable="collapse" data-behavior="checkbox" role="tab")
    %a.masthead-more-info.collapse-toggle(href="#masthead_information")
      %span.guicicon.guicicon-arrow-south.masthead-arrow
    %div#masthead_information.collapse(role="tabpanel")
      %div#masthead_copy.masthead-copy(data-mercury="full")><
        = render_region :masthead_copy do
          = lorem_ipsum 8

