.block
  clear: both
  width: 100%
  z-index: 1
  // &.in
    +transition-delay($speed)

.block .btn-close
  position: absolute
  top: 0
  left: 0

.block-article
  padding: 4.25em 0

.block-header
  text-align: center

.block-content
  @extend %clearfix
  border-top: 1px solid #d1d1d1
  margin: 3.5em 1.5em 0
  padding-top: 3.5em

.block-showcase
  position: relative

.block-showcase .carousel
  overflow: visible


@media (min-width: 40em)
  .block .btn-close
    top: 20px
    left: 20px

@media (min-width: 80em)
  .block-content
    margin-left: 6em
    margin-right: 0

  .block-details,
  .block-showcase
    +base-column

  .block-details
    margin-right: 5%
    width: 30%

  .block-showcase,
  .block-showcase .carousel,
  .block-only
    width: 65%

  .block-showcase
    overflow: hidden

