%container
  max-width: 45rem
  margin-left: auto
  margin-right: auto
  padding-left: 0.5rem
  padding-right: 0.5rem


@media(min-width:45em)
  %container
    padding-left: 0
    padding-right: 0

.container
  @extend %container


.panel
  background-color: white
  position: relative

.pane__container
  @extend %transition-transform-opacity
  position: relative
.pane__container.hide
  transform: translateX(-100%)
  opacity: 0
.pane__container.show
  transform: translateX(100%)
  opacity: 0

.pane
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  font-size: 0
  white-space: nowrap
  padding: 4rem 0


.pane__header,
.panel__figures
  display: inline-block
  vertical-align: middle
  padding: 0 1rem

.pane__header
  width: 26rem
  white-space: normal

.panel__toolbar
  position: absolute
  top: 0
  left: 0
  z-index: 2

.panel__dismiss
  padding: 1rem 0.75rem !important
  color: $pink
  font-size: 2.25rem


.fpo
  display: inline-block
  width: 42rem
  height: 26rem

