.tile-case
  text-shadow: 0 -1px 0 black

.tile-case .tile-front
  background: #1e1e1e image-url('fpo/tile-topfan.jpg') no-repeat 0 0
  background-size: cover
.tile-case .tile-side
  background-color: lighten(#1e1e1e, 10%)

.tile-case .tile-header
  position: absolute
  bottom: 2em
  right: 2em
  z-index: 2

.tile-case .tile-heading
  color: #676666

.tile-crop
  z-index: 1

.tile-crop:after
  +triangle(300px, #1e1e1e, down-right)
  border-left-width: 480px
  position: absolute
  bottom: 0
  right: 0
  content: ""
  z-index: 1

.tile-side .tile-crop
  display: none

