.mercury-select-options
  .p-copy(data-class="p-copy")
    %code(data-class="p-copy") .p-copy
    %span(data-class="p-copy") Create a top and bottom margin of 1em for copy

  .masthead-heading(data-class="masthead-heading")
    %code(data-class="masthead-heading") .masthead-heading
    %span(data-class="masthead-heading") The gigantic heading used in the masthead

  .masthead-copy(data-class="masthead-copy")
    %code(data-class="masthead-copy") .masthead-copy
    %span(data-class="masthead-copy") The slightly larger font-size used for paragraph text

  .block-heading(data-class="block-heading")
    %code(data-class="block-heading") .block-heading
    %span(data-class="block-heading") The heading used as a tile's content title (typically h1 tags)

  .block-subheading(data-class="block-subheading")
    %code(data-class="block-subheading") .block-subheading
    %span(data-class="block-subheading") The subheading serif font used below a block heading (typically h2 tags)

  .content-heading(data-class="content-heading")
    %code(data-class="content-heading") .content-heading
    %span(data-class="content-heading") The heading serif font used for section division (typically h3 tags)

