.card
  position: relative
  height: 18.375rem
  user-select: none
  cursor: pointer
  overflow: hidden

.card__header
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 1rem

.card.active .card__header
  color: white

%card-active-title-color
  color: white


// Client
.card__client
  background-color: #0d0d0d

.card__client.active .title,
.card__client.active .subtitle
  @extend %card-active-title-color


// Case Study
.card__study
  background: #1f1f1f no-repeat 0 0
  background-size: cover

.card__study:before
  border-bottom: 19rem solid #1f1f1f
  border-left: 23rem solid transparent
  content: ""
  position: absolute
  bottom: 0
  right: 0

.card__study .card__header
  top: auto
  left: auto
  text-align: right

.card__study.active .title,
.card__study.active .subtitle
  @extend %card-active-title-color


// Skill
.card__skill
  background-color: $pink
  text-align: center

.card__skill .card__header
  top: 44%
  transform: translateY(-44%)

.card__skill .title
  font-size: rem(24)
  color: #990258

.card__icon
  @extend %transition-color
  @extend .guicicon
  font-size: 7rem
  color: #990258

.card__skill.active .title,
.card__skill.active .card__icon
  @extend %card-active-title-color


// z-index == number of cards in a row
#mq_monitor
  @extend %hidden
  position: absolute
  z-index: 1


@media (min-width: 30em)
  #mq_monitor
    z-index: 2
  .cards
    font-size: 0
  .card
    display: inline-block
    width: 50%

@media (min-width: 60em)
  #mq_monitor
    z-index: 3
  .card
    width: 33.33333%

@media (min-width: 75em)
  #mq_monitor
    z-index: 4
  .card
    width: 25%

@media (min-width: 100em)
  #mq_monitor
    z-index: 5
  .card
    width: 20%

@media (min-width: 120em)
  #mq_monitor
    z-index: 6
  .card
    width: 16.66666%

