%section.tiles
  %article.tile.tile-case(style="width:320px; height:320px;")
    %a.tile-toggle(href="#")
  %article.tile.tile-work(style="width:320px; height:320px;")
    %a.tile-toggle(href="#")
  %article.tile.tile-service(style="width:320px; height:320px;")
    %a.tile-toggle(href="#")

