%footer.contentinfo(role="contentinfo")
  %p.copyright<>
    %small &copy;
    Copyright #{Time.zone.now.year} Guiceworks INC, All Rights Reserved
    %a(href="mailto:geoff@guiceworks.com") Send Email
  %nav.social
    %a.guicicon--behance(href="http://www.behance.net/guiceworks")
    %a.guicicon--dribble(href="http://dribbble.com/guiceworks")
    %a.guicicon--twitter(href="https://twitter.com/guiceworks")
    %a.guicicon--linkedin(href="http://www.linkedin.com/profile/view?id=1359794")

